<div class="container mt-3">
    <h3>Rick and Morty</h3>
    <div class="cont">

        <div class="p-4">
            <input type="text" pInputText #filterValue (change)="filterEditValue(filterValue.value)"  placeholder="Buscar..."/>

            <div class="mt-3">
                <span class="dsan">Filtrar por:</span>
                <p-dropdown #statusValue (onChange)="statusEdit(statusValue.value)"  [options]="status" placeholder="Status"></p-dropdown>
                <p-dropdown  #genderValue (onChange)="genderEdit(genderValue.value)"  [options]="gender"  placeholder="Gender"></p-dropdown>
            </div>

            <div class="mt-3">
                <div class="row" >

                    @for (item of characters; track item.id) {
                        <div class="col-4 mb-4 ndioasd" >
                            <app-tarjeta [data]='item'></app-tarjeta>
                        </div>
                      }
                    

                </div>

                <p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="rows" [totalRecords]="totalRecords" ></p-paginator>
            </div>
        </div>

    </div>
</div>